*{
    box-sizing: border-box;
}

.inativo {
    display: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: 375px;
    height: 667px;
    border: auto;
    position: relative;
    background: #FFFFFF;
}

main img{
    width: 130px;
    height: 92px;
    position: absolute;
    top: 72px;
    left: 122px;
}

main input{
    width: 261px;
    height: 54px;
    text-align: center;
    position: absolute;
    top: 258px;
    left: 57px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

main button{  
    width: 109px;
    height: 45px;
    cursor: pointer;
    position: absolute;
    top: 327px;
    left: 133px;
    background: #E7E7E7;
    border-radius: 9px;
}

header{
    width: 375px;
    height: 80px;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img{
    width: 75px;
    height: 53px;
}

header ion-icon{
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #000000;
}

ul{
    width: 375px;
    height: 507px;
    padding: 12px 0;
    background: #F3F3F3;
}

li{
    width: 375px;
    height: 40px;
    margin: 4px 0;
    padding: 0 8px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 2px;
}

h1{
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #AAAAAA;
}

strong{
    color: #000000;
    font-weight: bold;
}

.status{
    background: #DCDCDC;
}

.private_message{
    background: #FFDEDE;
}

.escreva {
    width: 375px;
    height: 80px;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.escreva input{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.escreva ion-icon{
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #000000;
}

.conteiner{
    width: 375px;
    height: 667px;
    position: relative;
}

.container div{
    overflow-y: scroll;
}
nav{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 2;
}

section{
    width: 259px;
    height: 100%;
    background-color: #FFFFFF;
}

section ul {
    width: 100%;
    height: 150px;
    padding: 8px;
    background-color: #FFFFFF;
}

section li{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

section ion-icon{
    width: 20px;
    height: 20px;
    color: #000000;
}

section h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.contatos {
    height: 50px;
    padding: 30px;
    text-align: center;
}

.contatos h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.visibilidade {
    height: 30px;
    text-align: center;
}

.visibilidade h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}